## Q1

Q1. my_tuple = ( (1, 2, 3), [4, 5, 6], ('apple', 'banana', 'cherry'), [7, 8, 9] )
• Print all elements from my_tuple on a new line (using for loop)
• Create a new tuple by concatenating the first and last elements of my_tuple

In [3]:
my_tuple = ((1, 2, 3), [4, 5, 6], ('apple', 'banana', 'cherry'), [7, 8, 9])
for i in my_tuple:
    print(i)
new_tuple = my_tuple[0] + tuple(my_tuple[-1])  
print("\nNew tuple by concatenating the first and last elements:")
print(new_tuple)

(1, 2, 3)
[4, 5, 6]
('apple', 'banana', 'cherry')
[7, 8, 9]

New tuple by concatenating the first and last elements:
(1, 2, 3, 7, 8, 9)

## Q2

Q2. inventory = { "The Great Gatsby": {"price": 10.99, "quantity": 5}, "Rich dad poor dad": {"price":
8.99, "quantity": 8}, "Harry Potter": {"price": 12.50, "quantity": 2}, }
• Add a new book in inventory using method and get all book titles using method
• Remove a book if it's out of stock

In [4]:
class BookInventory:
    def __init__(self):
        self.inventory = {
            "The Great Gatsby": {"price": 10.99, "quantity": 5},
            "Rich Dad Poor Dad": {"price": 8.99, "quantity": 8},
            "Harry Potter": {"price": 12.50, "quantity": 2},
        }
    
    def add_book(self, title, price, quantity):
        self.inventory[title] = {"price": price, "quantity": quantity}
    
    def get_all_titles(self):
        return list(self.inventory.keys())
    
    def remove_out_of_stock_books(self):
        self.inventory = {title: details for title, details in self.inventory.items() if details["quantity"] > 0}
inventory = BookInventory()
inventory.add_book("1984", 9.99, 3)
print("Book Titles:", inventory.get_all_titles())
inventory.remove_out_of_stock_books()
print("Updated Inventory:", inventory.inventory)

Book Titles: ['The Great Gatsby', 'Rich Dad Poor Dad', 'Harry Potter', '1984']
Updated Inventory: {'The Great Gatsby': {'price': 10.99, 'quantity': 5}, 'Rich Dad Poor Dad': {'price': 8.99, 'quantity': 8}, 'Harry Potter': {'price': 12.5, 'quantity': 2}, '1984': {'price': 9.99, 'quantity': 3}}

## Q3

Q3. An ecommerce store stores information about its products in a nested dictionary. The outer
dictionary uses product IDs as keys, and the inner dictionary stores product details like name,
category, price, and stock quantity.
products = { 101: {"name": "Laptop", "category": "Electronics", "price": 1200, "stock": 50}, 102:
{"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200}, 103: {"name": "Coffee Maker",
"category": "Home Appliances", "price": 80, "stock": 30} }
• Increase the stock of the "Shirt" product (add 50 more units)
• Add a new product (e.g., "Smartphone")

In [8]:
products = {
    1: {"name": "Laptop", "category": "Electronics", "price": 1200, "stock": 50},
    2: {"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200},
    3: {"name": "Coffee Maker", "category": "Home Appliances", "price": 80, "stock": 30}
}

products[2]["stock"] += 50

products[4] = {"name": "Computer", "category": "Electronics", "price": 900, "stock": 90}

products

{1: {'name': 'Laptop', 'category': 'Electronics', 'price': 1200, 'stock': 50},
 2: {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 250},
 3: {'name': 'Coffee Maker',
  'category': 'Home Appliances',
  'price': 80,
  'stock': 30},
 4: {'name': 'Computer', 'category': 'Electronics', 'price': 900, 'stock': 90}}

## Q4

Q4. You are given a list that contains some duplicate items. Remove the duplicates by converting the
list to a set.
shopping_list = ["apple", "banana", "apple", "orange", "banana", "grape"]

In [1]:
shopping_list = ["apple", "banana", "apple", "orange", "banana", "grape"]

unique_items = set(shopping_list)

unique_shopping_list= list(unique_items)

print(unique_shopping_list)

['banana', 'orange', 'grape', 'apple']

## Q5

Q5. You are managing a list of students enrolled in two different courses. You need to perform
various set operations to understand the student enrollment. Task: Create two sets: one for students
in "Course A" and one for students in "Course B". Find the students who are in "Course A" but not in
"Course B" (difference). Find students who are only in one of the two courses (symmetric difference).
course_a = {"John", "Alice", "Bob", "David"} course_b = {"Alice", "Eve", "Charlie", "David"}
• Find students who are in Course A but not in Course B (difference)
• Find students who are only in one of the two courses (symmetric difference)

In [2]:
course_a = {"John", "Alice", "Bob", "David"}
course_b = {"Alice", "Eve", "Charlie", "David"}
students_in_a_not_b = course_a - course_b
print("Students in Course A but not in Course B:", students_in_a_not_b )
students_in_one_course_only = course_a ^ course_b
print("Students only in one of the two courses:", students_in_one_course_only)

Students in Course A but not in Course B: {'John', 'Bob'}
Students only in one of the two courses: {'Eve', 'Charlie', 'Bob', 'John'}

## Q6

Q6. Write a Python program that calculates the sum of all even numbers between 1 and 50
(inclusive) using a for loop.

1. Initialize a variable to hold the sum (e.g., sum_of_evens).
2. Use a for loop to iterate through all numbers from 1 to 50.
3. Inside the loop, check if the number is even.
4. If the number is even, add it to sum_of_evens.
5. After the loop finishes, print the total sum of all even numbers between 1 and 50.

In [3]:
sum_of_evens = 0
for number in range(1, 51):
    if number % 2 == 0:
        sum_of_evens += number
print("The sum of all even numbers between 1 and 50 is:", sum_of_evens)

The sum of all even numbers between 1 and 50 is: 650

## Q7

Q7. Write a Python program that prints the multiplication table for a given number (between 1 and
10) using a for loop

1. Ask the user for a number between 1 and 10 .
2. Use a for loop to iterate through the numbers from 1 to 10.
3. For each iteration, calculate the product of the given number and the current number in the
loop.
4. Print the result in a readable format (e.g., 5 x 1 = 5).
5. Ensure the program works correctly for any number between 1 and 10.

In [4]:
number = int(input("Enter a number between 1 and 10: ")) 
if 1 <= number <= 10:
    for i in range(1, 11):
        product = number * i
        print(f"{number} x {i} = {product}")
else:
    print("Please enter a valied number between 1 to 10.")

Enter a number between 1 and 10:  6

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

## Q8

Q8. Power of a Number
Write a Python program that takes a number and prints the powers of the number (starting from 1 to
10) using a while loop. For example, if the user inputs 3, the output should be:
3^1 = 3
3^2 = 9
3^3 = 27
... up to 3^10

In [5]:
number = int(input("Enter a number: "))
i = 1
while i <= 10:
    power = number ** i
    print(f"{number}^{i} = {power}")
    i += 1

Enter a number:  4

4^1 = 4
4^2 = 16
4^3 = 64
4^4 = 256
4^5 = 1024
4^6 = 4096
4^7 = 16384
4^8 = 65536
4^9 = 262144
4^10 = 1048576

## Q9

Q9. Problem Statement: Write a Python program that takes an integer input from the user and
counts down from that number to 0. The program should display the current number at each step
until it reaches 0, at which point it should print a message indicating the countdown is finished

In [6]:
number = int(input("Enter a positive integer to start the countdown: "))
while number > 0:
     print(number)
     number -= 1
print("Countdown finished!")

Enter a positive integer to start the countdown:  6

6
5
4
3
2
1
Countdown finished!

## Q10

Q10. Write a Python program that takes an integer input n from the user and generates a
right-angled triangle pattern of stars (*) with n rows. The first row should contain 1 star, the second
row 2 stars, the third row 3 stars, and so on until the nth row.

In [4]:
n = int(input("Enter the number of rows for the triangle: "))

for i in range(1, n + 1):
    print('*' * i)

Enter the number of rows for the triangle:  5

*
**
***
****
*****